.ant-list{box-sizing:border-box;margin:0;padding:0;color:rgba(0,0,0,0.65);font-size:14px;font-variant:tabular-nums;line-height:1.5;list-style:none;font-feature-settings:'tnum';position:relative}.ant-list *{outline:none}.ant-list-pagination{margin-top:24px;text-align:right}.ant-list-pagination .ant-pagination-options{text-align:left}.ant-list-more{margin-top:12px;text-align:center}.ant-list-more button{padding-right:32px;padding-left:32px}.ant-list-spin{min-height:40px;text-align:center}.ant-list-empty-text{padding:16px;color:rgba(0,0,0,0.25);font-size:14px;text-align:center}.ant-list-items{margin:0;padding:0;list-style:none}.ant-list-item{display:flex;align-items:center;justify-content:space-between;padding:12px 0}.ant-list-item-content{color:rgba(0,0,0,0.65)}.ant-list-item-meta{display:flex;flex:1;align-items:flex-start;font-size:0}.ant-list-item-meta-avatar{margin-right:16px}.ant-list-item-meta-content{flex:1 0}.ant-list-item-meta-title{margin-bottom:4px;color:rgba(0,0,0,0.65);font-size:14px;line-height:22px}.ant-list-item-meta-title>a{color:rgba(0,0,0,0.65);transition:all .3s}.ant-list-item-meta-title>a:hover{color:#1890ff}.ant-list-item-meta-description{color:rgba(0,0,0,0.45);font-size:14px;line-height:22px}.ant-list-item-action{flex:0 0 auto;margin-left:48px;padding:0;font-size:0;list-style:none}.ant-list-item-action>li{position:relative;display:inline-block;padding:0 8px;color:rgba(0,0,0,0.45);font-size:14px;line-height:22px;text-align:center;cursor:pointer}.ant-list-item-action>li:first-child{padding-left:0}.ant-list-item-action-split{position:absolute;top:50%;right:0;width:1px;height:14px;margin-top:-7px;background-color:#e8e8e8}.ant-list-header{background:transparent}.ant-list-footer{background:transparent}.ant-list-header,.ant-list-footer{padding-top:12px;padding-bottom:12px}.ant-list-empty{padding:16px 0;color:rgba(0,0,0,0.45);font-size:12px;text-align:center}.ant-list-split .ant-list-item{border-bottom:1px solid #e8e8e8}.ant-list-split .ant-list-item:last-child{border-bottom:none}.ant-list-split .ant-list-header{border-bottom:1px solid #e8e8e8}.ant-list-loading .ant-list-spin-nested-loading{min-height:32px}.ant-list-something-after-last-item .ant-spin-container>.ant-list-items>.ant-list-item:last-child{border-bottom:1px solid #e8e8e8}.ant-list-lg .ant-list-item{padding-top:16px;padding-bottom:16px}.ant-list-sm .ant-list-item{padding-top:8px;padding-bottom:8px}.ant-list-vertical .ant-list-item{align-items:initial}.ant-list-vertical .ant-list-item-main{display:block;flex:1}.ant-list-vertical .ant-list-item-extra{margin-left:40px}.ant-list-vertical .ant-list-item-meta{margin-bottom:16px}.ant-list-vertical .ant-list-item-meta-title{margin-bottom:12px;color:rgba(0,0,0,0.85);font-size:16px;line-height:24px}.ant-list-vertical .ant-list-item-action{margin-top:16px;margin-left:auto}.ant-list-vertical .ant-list-item-action>li{padding:0 16px}.ant-list-vertical .ant-list-item-action>li:first-child{padding-left:0}.ant-list-grid .ant-col>.ant-list-item{display:block;max-width:100%;margin-bottom:16px;padding-top:0;padding-bottom:0;border-bottom:none}.ant-list-item-no-flex{display:block}.ant-list:not(.ant-list-vertical) .ant-list-item-no-flex .ant-list-item-action{float:right}.ant-list-bordered{border:1px solid #d9d9d9;border-radius:4px}.ant-list-bordered .ant-list-header{padding-right:24px;padding-left:24px}.ant-list-bordered .ant-list-footer{padding-right:24px;padding-left:24px}.ant-list-bordered .ant-list-item{padding-right:24px;padding-left:24px;border-bottom:1px solid #e8e8e8}.ant-list-bordered .ant-list-pagination{margin:16px 24px}.ant-list-bordered.ant-list-sm .ant-list-item{padding-right:16px;padding-left:16px}.ant-list-bordered.ant-list-sm .ant-list-header,.ant-list-bordered.ant-list-sm .ant-list-footer{padding:8px 16px}.ant-list-bordered.ant-list-lg .ant-list-header,.ant-list-bordered.ant-list-lg .ant-list-footer{padding:16px 24px}@media screen and (max-width:768px){.ant-list-item-action{margin-left:24px}.ant-list-vertical .ant-list-item-extra{margin-left:24px}}@media screen and (max-width:576px){.ant-list-item{flex-wrap:wrap}.ant-list-item-action{margin-left:12px}.ant-list-vertical .ant-list-item{flex-wrap:wrap-reverse}.ant-list-vertical .ant-list-item-main{min-width:220px}.ant-list-vertical .ant-list-item-extra{margin:auto auto 16px}}
.src-common-components-autocomplete-index__inputHint--2jvC4 {
  margin-top: 8px;
  color: #bbbbbb;
  font-size: 12px;
}

.src-common-components-autocomplete-index__inputError--1mtoI {
  color: var(--error);
}

.src-common-components-autocomplete-index__container--11l2U {
  position: relative
}

.src-common-components-autocomplete-index__container--11l2U > *:nth-child(1) {
    width: 100%;
  }

.src-common-components-autocomplete-index__autocomplete--jzI5G {
  position: relative;
  width: 100%;
  height: var(--primary-input-field-height);
  border: 1px solid var(--mercury);
  border-radius: 6px;
  background-color: var(--alabaster);
}

.src-common-components-autocomplete-index__icon--2NLEa {
  position: absolute;
  top: 16px;
  right: 16px;
  height: var(--primary-input-field-height);
  cursor: pointer;
}

.src-common-components-autocomplete-index__input--3ae9t {
  width: 100%;
  height: var(--primary-input-field-height);
  padding: 10px 30px 10px 10px;
  border: 1px solid var(--mercury);
  border-radius: 6px;
  box-sizing: border-box;
  background-color: var(--alabaster);
  font-size: inherit
}

.src-common-components-autocomplete-index__input--3ae9t:hover {
    border-color: var(--silver);
  }

.src-common-components-autocomplete-index__input--3ae9t:focus {
    border-color: var(--primary-dark);
    background-color: var(--white);
  }

.src-common-components-autocomplete-index__menu--U0Z9z {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  max-height: 250px;
  border-radius: 6px;
  box-sizing: border-box;
  overflow: auto;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 12px 28px rgba(96, 96, 96, 0.18);
  font-size: inherit;
  z-index: 999;
}

.src-common-components-autocomplete-index__menuItem--S_JOR {
  height: 48px;
  max-width: 100%;
  padding: 0 12px;
  margin: 0;
  overflow: hidden;
  color: black;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer
}

.src-common-components-autocomplete-index__menuItem--S_JOR:hover {
    color: var(--mine-shaft);
    background-color: var(--alabaster);
  }

.src-common-components-user-impersonation-index__modal--1QUVK {
  padding: 0
}
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__title--dslZF {
    padding-top: 34px;
    font-size: 14px;
    text-align: center;
  }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E {
    padding: 24px 35px 40px 35px
  }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userListTitle--2Xg2O {
      padding: 0 12px;
      margin-top: 20px;
      margin-bottom: 6px;
      color: var(--extra-light-grey-6);
      font-size: 12px;
    }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA {
      max-height: 150px;
      padding: 4px 20px 4px 12px;
      overflow: scroll;
      background-color: var(--white)
    }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA .src-common-components-user-impersonation-index__item--2759a {
        display: flex;
        justify-content: space-between;
        padding: 7px 0;
        border-bottom: none;
        color: var(--smokey-black)
      }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA .src-common-components-user-impersonation-index__item--2759a:hover,
        .src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA .src-common-components-user-impersonation-index__item--2759a.src-common-components-user-impersonation-index__selected--2TFR6 {
          color: var(--primary);
          font-weight: bold;
          cursor: pointer
        }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA .src-common-components-user-impersonation-index__item--2759a:hover .src-common-components-user-impersonation-index__type--21LCD, .src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA .src-common-components-user-impersonation-index__item--2759a.src-common-components-user-impersonation-index__selected--2TFR6 .src-common-components-user-impersonation-index__type--21LCD {
            color: var(--primary)
          }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA .src-common-components-user-impersonation-index__item--2759a:hover .src-common-components-user-impersonation-index__type--21LCD .src-common-components-user-impersonation-index__check--1hdoV, .src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA .src-common-components-user-impersonation-index__item--2759a.src-common-components-user-impersonation-index__selected--2TFR6 .src-common-components-user-impersonation-index__type--21LCD .src-common-components-user-impersonation-index__check--1hdoV {
              visibility: visible;
            }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA .src-common-components-user-impersonation-index__item--2759a .src-common-components-user-impersonation-index__type--21LCD {
          color: var(--silver);
          font-size: 10px
        }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA .src-common-components-user-impersonation-index__item--2759a .src-common-components-user-impersonation-index__type--21LCD .src-common-components-user-impersonation-index__check--1hdoV {
            margin-left: 5px;
            font-size: 11px;
            visibility: hidden
          }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__userList--38EbA .src-common-components-user-impersonation-index__item--2759a .src-common-components-user-impersonation-index__type--21LCD .src-common-components-user-impersonation-index__check--1hdoV path {
              fill: currentColor;
            }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E > .src-common-components-user-impersonation-index__avatars--1xSMu {
      text-align: center
    }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E > .src-common-components-user-impersonation-index__avatars--1xSMu img {
        position: relative;
        border-radius: 5px;
        box-sizing: content-box
      }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E > .src-common-components-user-impersonation-index__avatars--1xSMu img:first-child {
          -webkit-clip-path: polygon(60% 0, 100% 50%, 60% 100%, 0 100%, 0 0);
          clip-path: polygon(60% 0, 100% 50%, 60% 100%, 0 100%, 0 0);
        }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E > .src-common-components-user-impersonation-index__avatars--1xSMu img:last-child {
          margin-left: -17px;
          -webkit-clip-path: polygon(0 0, 40% 50%, 0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 0, 40% 50%, 0 100%, 100% 100%, 100% 0);
        }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__content--35v_E .src-common-components-user-impersonation-index__footer--2xBTY {
      display: flex;
      justify-content: flex-end;
    }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__footer--2xBTY {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: var(--white);
    font-weight: bold
  }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__footer--2xBTY .src-common-components-user-impersonation-index__button--1cOkG {
      height: initial;
      padding: 17px 20px;
      border: none;
      color: var(--smokey-black);
      line-height: 0
    }
.src-common-components-user-impersonation-index__modal--1QUVK .src-common-components-user-impersonation-index__footer--2xBTY .src-common-components-user-impersonation-index__button--1cOkG.src-common-components-user-impersonation-index__impersonate--1ki-F {
        color: var(--primary);
      }

